USE [DATA_WEB_QUAN_LY_SAN_BONG]
GO
/****** Object:  User [hoang]    Script Date: 12/1/2022 20:40:34 ******/
CREATE USER [hoang] FOR LOGIN [hoang] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 12/1/2022 20:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[TEN_DANG_NHAP_ADM] [nvarchar](50) NULL,
	[MAT_KHAU_ADM] [nvarchar](50) NULL,
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MA_CHUC_VU] [int] NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUC_VU_ADM]    Script Date: 12/1/2022 20:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU_ADM](
	[MA_CHUC_VU] [int] IDENTITY(1,1) NOT NULL,
	[TEN_CHUC_VU] [nvarchar](32) NULL,
 CONSTRAINT [PK_CHUC_VU_ADM] PRIMARY KEY CLUSTERED 
(
	[MA_CHUC_VU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DAT_SAN]    Script Date: 12/1/2022 20:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DAT_SAN](
	[MA_DS] [int] NOT NULL,
	[MA_SAN] [int] NOT NULL,
	[NGAY_DAT] [datetime] NULL,
	[TONG_TIEN] [decimal](18, 0) NULL,
	[TINH_TRANG_THANH_TOAN] [bit] NULL,
 CONSTRAINT [PK_CT_DAT_SAN] PRIMARY KEY CLUSTERED 
(
	[MA_DS] ASC,
	[MA_SAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_DAT_SAN]    Script Date: 12/1/2022 20:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_SAN](
	[MA_DS] [int] IDENTITY(1,1) NOT NULL,
	[MA_KH] [int] NULL,
	[NGAY_DAT] [datetime] NULL,
	[GIO_BAT_DAU] [datetime] NULL,
	[GIO_KET_THUC] [datetime] NULL,
	[MA_SAN] [int] NOT NULL,
	[TONG_TIEN] [decimal](18, 0) NULL,
	[TONG_GIO_THUE] [nvarchar](6) NULL,
	[GIA_SAN] [decimal](18, 0) NULL,
	[NGAY_LAP_PHIEU] [datetime] NULL,
	[TINH_TRANG_DON] [bit] NULL,
	[GIO_KET_THUC_TEXT] [nvarchar](10) NULL,
	[TRANG_THAI_XOA] [bit] NULL,
	[TIME_START] [int] NULL,
	[TIME_END] [int] NULL,
 CONSTRAINT [PK_DON_DAT_SAN] PRIMARY KEY CLUSTERED 
(
	[MA_DS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 12/1/2022 20:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [int] IDENTITY(1,1) NOT NULL,
	[TEN_KH] [nvarchar](30) NULL,
	[SDT] [nchar](11) NULL,
	[TEN_DN] [nvarchar](30) NULL,
	[MAT_KHAU] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](40) NULL,
	[AVATAR] [nvarchar](20) NULL,
	[TINH_TRANG_XOA] [bit] NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_SAN]    Script Date: 12/1/2022 20:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SAN](
	[MA_LOAI] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAI] [nvarchar](10) NULL,
	[GIA_LOAI] [decimal](18, 0) NULL,
 CONSTRAINT [PK_LOAI_SAN] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN]    Script Date: 12/1/2022 20:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN](
	[MA_SAN] [int] IDENTITY(1,1) NOT NULL,
	[MA_LOAI] [int] NULL,
	[GIA_SAN] [decimal](18, 0) NULL,
	[TEN_SAN] [nvarchar](20) NULL,
	[TINH_TRANG_XOA] [bit] NULL,
 CONSTRAINT [PK_SAN] PRIMARY KEY CLUSTERED 
(
	[MA_SAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SO_GIO]    Script Date: 12/1/2022 20:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_GIO](
	[MA_SO_GIO] [int] IDENTITY(1,1) NOT NULL,
	[SO_GIO1] [nchar](10) NULL,
 CONSTRAINT [PK_SO_GIO] PRIMARY KEY CLUSTERED 
(
	[MA_SO_GIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SO_PHUT]    Script Date: 12/1/2022 20:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_PHUT](
	[MA_SO_PHUT] [int] IDENTITY(1,1) NOT NULL,
	[SO_PHUT1] [nchar](10) NULL,
 CONSTRAINT [PK_SO_PHUT] PRIMARY KEY CLUSTERED 
(
	[MA_SO_PHUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONG_KE]    Script Date: 12/1/2022 20:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_KE](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MA_SAN] [int] NOT NULL,
	[NGAY_DAT] [datetime] NULL,
	[NGAY_BAT_DAU] [datetime] NULL,
	[NGAY_KET_THUC] [datetime] NULL,
	[TONG_TIEN] [decimal](18, 0) NULL,
 CONSTRAINT [PK_THONG_KE] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADMIN] ON 

INSERT [dbo].[ADMIN] ([TEN_DANG_NHAP_ADM], [MAT_KHAU_ADM], [STT], [MA_CHUC_VU]) VALUES (N'nhanvien', N'8cc44e99805989833164ac4f3c83c347', 4, 2)
INSERT [dbo].[ADMIN] ([TEN_DANG_NHAP_ADM], [MAT_KHAU_ADM], [STT], [MA_CHUC_VU]) VALUES (N'huy', N'202cb962ac59075b964b07152d234b70', 1003, 1)
INSERT [dbo].[ADMIN] ([TEN_DANG_NHAP_ADM], [MAT_KHAU_ADM], [STT], [MA_CHUC_VU]) VALUES (N'trường', N'202cb962ac59075b964b07152d234b70', 1004, 2)
SET IDENTITY_INSERT [dbo].[ADMIN] OFF
GO
SET IDENTITY_INSERT [dbo].[CHUC_VU_ADM] ON 

INSERT [dbo].[CHUC_VU_ADM] ([MA_CHUC_VU], [TEN_CHUC_VU]) VALUES (1, N'ADMIN')
INSERT [dbo].[CHUC_VU_ADM] ([MA_CHUC_VU], [TEN_CHUC_VU]) VALUES (2, N'NHAN_VIEN')
SET IDENTITY_INSERT [dbo].[CHUC_VU_ADM] OFF
GO
INSERT [dbo].[CT_DAT_SAN] ([MA_DS], [MA_SAN], [NGAY_DAT], [TONG_TIEN], [TINH_TRANG_THANH_TOAN]) VALUES (1, 6, CAST(N'2022-10-21T00:00:00.000' AS DateTime), CAST(600000 AS Decimal(18, 0)), 0)
INSERT [dbo].[CT_DAT_SAN] ([MA_DS], [MA_SAN], [NGAY_DAT], [TONG_TIEN], [TINH_TRANG_THANH_TOAN]) VALUES (2, 5, CAST(N'2022-10-23T00:00:00.000' AS DateTime), CAST(1275000 AS Decimal(18, 0)), 0)
INSERT [dbo].[CT_DAT_SAN] ([MA_DS], [MA_SAN], [NGAY_DAT], [TONG_TIEN], [TINH_TRANG_THANH_TOAN]) VALUES (3, 6, CAST(N'2022-10-23T00:00:00.000' AS DateTime), CAST(750000 AS Decimal(18, 0)), 1)
GO
SET IDENTITY_INSERT [dbo].[DON_DAT_SAN] ON 

INSERT [dbo].[DON_DAT_SAN] ([MA_DS], [MA_KH], [NGAY_DAT], [GIO_BAT_DAU], [GIO_KET_THUC], [MA_SAN], [TONG_TIEN], [TONG_GIO_THUE], [GIA_SAN], [NGAY_LAP_PHIEU], [TINH_TRANG_DON], [GIO_KET_THUC_TEXT], [TRANG_THAI_XOA], [TIME_START], [TIME_END]) VALUES (1, 1002, CAST(N'2022-10-21T00:00:00.000' AS DateTime), CAST(N'2022-10-20T09:00:00.000' AS DateTime), CAST(N'2022-10-20T13:00:00.000' AS DateTime), 6, CAST(600000 AS Decimal(18, 0)), N'04:00', CAST(150000 AS Decimal(18, 0)), CAST(N'2022-10-20T00:10:28.363' AS DateTime), 1, N'13:00', 1, 900, 1300)
INSERT [dbo].[DON_DAT_SAN] ([MA_DS], [MA_KH], [NGAY_DAT], [GIO_BAT_DAU], [GIO_KET_THUC], [MA_SAN], [TONG_TIEN], [TONG_GIO_THUE], [GIA_SAN], [NGAY_LAP_PHIEU], [TINH_TRANG_DON], [GIO_KET_THUC_TEXT], [TRANG_THAI_XOA], [TIME_START], [TIME_END]) VALUES (2, 1002, CAST(N'2022-10-23T00:00:00.000' AS DateTime), CAST(N'2022-10-20T08:00:00.000' AS DateTime), CAST(N'2022-10-20T16:30:00.000' AS DateTime), 5, CAST(1275000 AS Decimal(18, 0)), N'08:30', CAST(150000 AS Decimal(18, 0)), CAST(N'2022-10-20T00:11:40.483' AS DateTime), 1, N'16:30', 0, 800, 1630)
INSERT [dbo].[DON_DAT_SAN] ([MA_DS], [MA_KH], [NGAY_DAT], [GIO_BAT_DAU], [GIO_KET_THUC], [MA_SAN], [TONG_TIEN], [TONG_GIO_THUE], [GIA_SAN], [NGAY_LAP_PHIEU], [TINH_TRANG_DON], [GIO_KET_THUC_TEXT], [TRANG_THAI_XOA], [TIME_START], [TIME_END]) VALUES (3, 1002, CAST(N'2022-10-23T00:00:00.000' AS DateTime), CAST(N'2022-10-20T08:00:00.000' AS DateTime), CAST(N'2022-10-20T13:00:00.000' AS DateTime), 6, CAST(750000 AS Decimal(18, 0)), N'05:00', CAST(150000 AS Decimal(18, 0)), CAST(N'2022-10-20T00:27:53.667' AS DateTime), 1, N'13:00', 0, 800, 1300)
SET IDENTITY_INSERT [dbo].[DON_DAT_SAN] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([MA_KH], [TEN_KH], [SDT], [TEN_DN], [MAT_KHAU], [EMAIL], [AVATAR], [TINH_TRANG_XOA]) VALUES (1, N'hoang', N'0919893932 ', N'0919893932', N'202cb962ac59075b964b07152d234b70', N'vuviethoangdakmil@gmail.com', N'f.jpg', 0)
INSERT [dbo].[KHACH_HANG] ([MA_KH], [TEN_KH], [SDT], [TEN_DN], [MAT_KHAU], [EMAIL], [AVATAR], [TINH_TRANG_XOA]) VALUES (1002, N'vũ HOÀNG', N'0919893937 ', N'0919893937', N'202cb962ac59075b964b07152d234b70', N'vuviethoangdakmil@gmail.com', NULL, 0)
INSERT [dbo].[KHACH_HANG] ([MA_KH], [TEN_KH], [SDT], [TEN_DN], [MAT_KHAU], [EMAIL], [AVATAR], [TINH_TRANG_XOA]) VALUES (2005, N'huy hi', N'0919893939 ', N'0919893939', N'25d55ad283aa400af464c76d713c07ad', N'v@xn--gmaiec.com', NULL, 0)
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAI_SAN] ON 

INSERT [dbo].[LOAI_SAN] ([MA_LOAI], [TEN_LOAI], [GIA_LOAI]) VALUES (1, N'SÂN 5', CAST(100000 AS Decimal(18, 0)))
INSERT [dbo].[LOAI_SAN] ([MA_LOAI], [TEN_LOAI], [GIA_LOAI]) VALUES (2, N'SÂN 7', CAST(120000 AS Decimal(18, 0)))
INSERT [dbo].[LOAI_SAN] ([MA_LOAI], [TEN_LOAI], [GIA_LOAI]) VALUES (3, N'SÂN 11', CAST(150000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[LOAI_SAN] OFF
GO
SET IDENTITY_INSERT [dbo].[SAN] ON 

INSERT [dbo].[SAN] ([MA_SAN], [MA_LOAI], [GIA_SAN], [TEN_SAN], [TINH_TRANG_XOA]) VALUES (1, 1, CAST(100000 AS Decimal(18, 0)), N'5A', 0)
INSERT [dbo].[SAN] ([MA_SAN], [MA_LOAI], [GIA_SAN], [TEN_SAN], [TINH_TRANG_XOA]) VALUES (2, 1, CAST(100000 AS Decimal(18, 0)), N'5B', 0)
INSERT [dbo].[SAN] ([MA_SAN], [MA_LOAI], [GIA_SAN], [TEN_SAN], [TINH_TRANG_XOA]) VALUES (3, 2, CAST(120000 AS Decimal(18, 0)), N'7A', 0)
SET IDENTITY_INSERT [dbo].[SAN] OFF
GO
SET IDENTITY_INSERT [dbo].[SO_GIO] ON 

INSERT [dbo].[SO_GIO] ([MA_SO_GIO], [SO_GIO1]) VALUES (16, N'00        ')
INSERT [dbo].[SO_GIO] ([MA_SO_GIO], [SO_GIO1]) VALUES (17, N'08        ')
INSERT [dbo].[SO_GIO] ([MA_SO_GIO], [SO_GIO1]) VALUES (18, N'09        ')
SET IDENTITY_INSERT [dbo].[SO_GIO] OFF
GO
SET IDENTITY_INSERT [dbo].[SO_PHUT] ON 

INSERT [dbo].[SO_PHUT] ([MA_SO_PHUT], [SO_PHUT1]) VALUES (1, N'00        ')
INSERT [dbo].[SO_PHUT] ([MA_SO_PHUT], [SO_PHUT1]) VALUES (2, N'30        ')
SET IDENTITY_INSERT [dbo].[SO_PHUT] OFF
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_ADMIN_CHUC_VU_ADM] FOREIGN KEY([MA_CHUC_VU])
REFERENCES [dbo].[CHUC_VU_ADM] ([MA_CHUC_VU])
GO
ALTER TABLE [dbo].[ADMIN] CHECK CONSTRAINT [FK_ADMIN_CHUC_VU_ADM]
GO
ALTER TABLE [dbo].[CT_DAT_SAN]  WITH CHECK ADD  CONSTRAINT [FK_CT_DAT_SAN_DON_DAT_SAN] FOREIGN KEY([MA_DS])
REFERENCES [dbo].[DON_DAT_SAN] ([MA_DS])
GO
ALTER TABLE [dbo].[CT_DAT_SAN] CHECK CONSTRAINT [FK_CT_DAT_SAN_DON_DAT_SAN]
GO
ALTER TABLE [dbo].[CT_DAT_SAN]  WITH CHECK ADD  CONSTRAINT [FK_CT_DAT_SAN_SAN] FOREIGN KEY([MA_SAN])
REFERENCES [dbo].[SAN] ([MA_SAN])
GO
ALTER TABLE [dbo].[CT_DAT_SAN] CHECK CONSTRAINT [FK_CT_DAT_SAN_SAN]
GO
ALTER TABLE [dbo].[DON_DAT_SAN]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT_SAN_KHACH_HANG] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[DON_DAT_SAN] CHECK CONSTRAINT [FK_DON_DAT_SAN_KHACH_HANG]
GO
ALTER TABLE [dbo].[DON_DAT_SAN]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT_SAN_SAN] FOREIGN KEY([MA_SAN])
REFERENCES [dbo].[SAN] ([MA_SAN])
GO
ALTER TABLE [dbo].[DON_DAT_SAN] CHECK CONSTRAINT [FK_DON_DAT_SAN_SAN]
GO
ALTER TABLE [dbo].[SAN]  WITH CHECK ADD  CONSTRAINT [FK_SAN_LOAI_SAN] FOREIGN KEY([MA_LOAI])
REFERENCES [dbo].[LOAI_SAN] ([MA_LOAI])
GO
ALTER TABLE [dbo].[SAN] CHECK CONSTRAINT [FK_SAN_LOAI_SAN]
GO
